<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Calendar Built for EGUI Course by Jan Radziminski" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"/>
    <link href="/static/css/main.167d0865.chunk.css" rel="stylesheet" />

    <title>Calendar by Jan Radziminski</title>

</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    @RenderBody()
</body>
</html>