.calendar {
    width: 100%;
    max-width: 70rem;

    margin: 2rem auto;

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        user-select: none;
    }

    &__icon {
        font-size: 2.2rem;
    }

    &__arrow {
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__days-box {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 0;
        border-bottom: 1px solid rgba(black, 0.2);
        border-right: 1px solid rgba(black, 0.2);
    }

    &__day {
        width: 100%;
        padding: 22% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        cursor: pointer;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);

        &--ghost {
            color: grey;
        }
    }

    &__title {
        font-size: 2.6rem;
        font-weight: 600;
    }
}
