* {
    box-sizing: border-box;
}

html {
    background-color: white;
    font-size: 10px;
}

@media (max-width: 800px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 7px;
    }
}

body {
    font-size: 1.6rem;
}

.calendar-box {
    margin: 3rem;
    font-size: 1.6rem;
}

.fc-bgevent {
    background-color: blue;
}

.myBtn,
.myBtn:visited,
.myBtn:link {
    text-decoration: none;
    padding: 0.4rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff !important;
    margin-right: 1rem;
}


.day {
    display: block;
    width: 90%;
    max-width: 120rem;
    margin: 2rem auto;
    margin-bottom: 4rem;
}

.event {
    display: block;
    width: 90%;
    max-width: 120rem;
    margin: 2rem auto;
    margin-bottom: 4rem;
}

.title {
    font-size: 2.6rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.day__events-box {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.day__event-box {
    display: flex;
    width: 100%;
    max-width: 70rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    margin: 0.2rem 0;
    padding: 0.5rem 1rem;
}

.day__event-box:hover {
    background-color: #eee;
}

.day__event-prop {
    width: 35%;
}

.day__event-prop:first-child {
    width: 25%;
}

.day__event-btns {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.day__btns {
    margin-top: 3rem;
    padding: 1rem;
}

.day__msg {
    padding: 1rem;
    font-size: 2rem;

}

#timepicker {
    font-size: 1.8rem;
    
}

.btn-outline-secondary {
    border-color: #DEE2E6;
}

.btn {
    font-size: 1.6rem;
}

.form-box {
    padding: 1rem;
    max-width: 60rem;
}

.u-normal-font {
    font-size: 1.8rem !important;
}

.footer {
    padding: 1rem !important;
}